/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-image: url('http://i.imgur.com/QUTruJt.png');
  background-repeat: repeat;
}

a {
  color: #832A0D;
}

h1, h2 {
  color: #228b22;
}

h1 {
  padding-bottom: 10px;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.6);
  position: relative; */
}

.container > h1:first-child {
  margin: 0px;
  padding-top: 52.5px;
}

.nav-wrapper {
  background-color: #FFC143;
}

.dropdown-content {
  margin-top: 65px;
  padding: 15px;
  min-width: 300px;
  max-height: 800px;
  left: 965px;
  overflow: visible;
}

.dropdown-content li {
  line-height: 4;
}

.select-wrapper input.select-dropdown {
  border-bottom: 0;
}

.input-field {
  display: inline;
  border-bottom: 1px solid #9e9e9e;
}

.material-icons.md-48 { 
  font-size: 48px; 
}