<%= link_to "Back to all movies!", movies_path %><br/>

<h1>Global Users List</h1>
<h3>(Admin access only)</h3>
<hr>

<% if @users %>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Admin Status</th>
    </tr>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.full_name %></td>
      <% if u.admin? %>
        <td>IS AN ADMIN</td>
        </tr>
      <% else %>
        <td></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p>There are no users yet!</p>
<% end %>
