<%= link_to "Back to all movies!", movies_path %><br/>

<h1>Global Users List</h1>
<h3>(Admin access only)</h3>
<hr>

<% if @users %>
  <% @users.each do |u| %>
    <div>
      <p>Name: <%= u.full_name %></p>
      <p>Email: <%= u.email %></p><br/>
    </div>
  <% end %>
<% end %>
