<h1>Global Users List <i class="material-icons md-48">public</i></h1>
<a href="<%= new_admin_user_path %>"><i class="material-icons">person add</i></a>
<hr/>
<% if @users %>
  <table>
    <tr>
      <th>ID</th>
      <th><i class="material-icons">person outline</i></th>
      <th>Admin Status</th>
    </tr>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= link_to u.full_name, admin_user_path(u) %></td>
      <% if u.admin? %>
        <td><i class="material-icons">check box</i></td>
        </tr>
      <% else %>
        <td></td>
        </tr>
      <% end %>
    <% end %>
    <%= paginate @users %>
  </table>
<% else %>
  <p>There are no users yet!</p>
<% end %>
